.rspec
.env
.DS_Store
.powenv
.gems
rerun.txt
pickle-email-*.html
config/secrets.yml
capybara-*.html
*.rbc
**/*.orig
/log/*
!/log/.keep
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/public/spree
/public/assets
/coverage/
/spec/tmp
/public/spree

config/flow_experiences.yml
.ruby-version

# Environment normalization
/.bundle
/vendor/bundle

# this are rvm specific things, so local stuff
.ruby-gemset
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

