footer#footer {
  background: $gray;
  border-top: $base-spacing;
  color: $white;
  padding: $base-spacing;
  text-align: center;

  #footer-left {
    @include span-columns(16);
  }

  #footer-right {
    display: none;
  }
}
