<div class="jumbotron">

  <h1>Solidus / Spree Flow.io demo shop</h1>

  <p class="lead">This demo shop features integration of default Solidus shop with flow API.</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.flow.io" role="button" target="flow_www">Learn more about Flow.io<small><sup>&copy;</sup></small> commerce</a>
  </p>

</div>

<h2>Required steps to enable integration</h2>

<ul>
  <li>Install <code>solidus-flow</code> gem</li>
  <li>...</li>
</ul>

