/*
* This is a manifest file that includes stylesheets for spree_frontend
 - *= require normalize
 - *= require spree/frontend/screen
*/

// genereal
body {
  font-size: 100%;
  font-family: Roboto;
}

.price         { color: #333 !important; }
.product-image { border: none !important; }
.flash.error   { margin-bottom: 30px; }
.center        { text-align: center; }
.right         { text-align: right; }

.pagination {
  span a, .current       { display: inline-block; padding: 5px 10px; border: 1px solid #fff; }
  .current, span:hover a { border-color: #ddd; }
}

a { color:#0092A6 !important; }
a.info { font-size: 14px !important; font-weight: normal; }

ul.taxons-list a     { font-size: 14px !important; line-height: 22px !important; margin-left: -10px; }
ul.filter_choices li { line-height: 30px; list-style-type: none; }

// elements
#taxon { font-size: 14px; height: 29px; }

#main-image { border: none !important; }

#logo { margin-top: 20px; }

#flow-bar {
  background-color: #004; font-size: 11px; color: #fff;
  div { text-align: right; padding-right: 30px; }
  a { color: #fff !important; text-decoration: underline; }
}

#products li {
  padding-bottom: 40px;
  a.info { border: none !important; }
}

// badly defined price ranges https://i.imgur.com/QCfkFWz.png
#sidebar_products_search { display: none; }

#search-bar { display: none; }

#product-variants ul { list-style-type: none; }

#product-price h6, #taxon-crumbs h6 { margin-bottom: 5px; }

#product-description-details {
  line-height: 20px;

  p, li {
    display: block;
    margin: 0;
    padding: 0 0 15px 0;
  }
}

#product-description {
  .variant-description { margin-left: 7px; }

  p {
    margin: 0;
    padding: 0 0 15px 0;
  }
}

#checkout_form_address {
  input[type=text], input[type=tel] {
    font-size: 16px;
    margin-top: 5px;
    padding: 7px 10px;
  }

  select {
    margin-top: 5px;
  }
}

