//@import 'spree/frontend/skeleton';
@import 'spree/frontend/variables';
@import 'font-awesome';
@import 'spree/frontend/screen';

@import 'bourbon';
@import 'variables';
@import 'grid-settings';
@import 'neat';
@import 'skeleton-to-neat';

body {
  -webkit-font-smoothing: antialiased;
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-size: $base-font-size;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a,
nav #main-nav-bar li#link-to-cart a {
  color: #3992cc;
}

#header {
  position: fixed;
  background: $transparent-white;
  width: 100%;
  padding: $small-spacing;
  text-align: center;

  nav:last-child {
    @include position(absolute, $base-spacing $base-spacing null null);
  }
}

#search-bar {
  display: inline;
}

.inline {
  display: inline;
}

#logo {
  display: absolute !important;
  float: none;
  left: $base-spacing;
  margin: 0;
}

#home-link {
  display: none;
}

nav#top-nav-bar {
  @include position(absolute, 0 null null null);
  float: none;
  margin: 0;
  padding: 0;
}

nav #main-nav-bar {
  border-bottom: 0;
  padding: $base-spacing;

  li#link-to-cart {
    background: none;

    a {
      background: image-url("icons/shopping_basket.png") no-repeat;
      background-size: contain;
      padding: 15px;
    }
  }
}

#sidebar {
  @include span-columns(4);
  @include position(absolute, 0 null null 0);
  background: $dark-gray;
  padding: $base-spacing;
  height: 100%;
  display: none;
  color: $white;

  nav#taxonomies .taxonomy-root {
    border-bottom: 0;
    color: $white;
  }

  nav#taxonomies .taxons-list li {
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    a {
      font-size: 15px;
      color: $gray;
    }
  }
}

#content {
  @include span-columns(16);
  padding: $base-spacing;
  margin-top: 75px;
}

footer#footer {
  border-top: 0;
  color: $gray;
  padding: $base-spacing;
  text-align: center;

  #footer-left {
    @include span-columns(16);
  }

  #footer-right {
    display: none;
  }
}

ul#products li {
  @include omega(4n);
  margin-bottom: $base-spacing * 2;

  .product-image {
    border: 0;
    background: $very-light-gray;
    height: 25em;
    text-align: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  a.info {
    border-bottom: 0;
    height: auto;
    font-size: 16px;
  }

  .price {
    color: $dark-gray;
  }
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button,
a.button {
  border: 0;
}


table tbody tr.alt, table tbody tr.odd, table tfoot tr.alt, table tfoot tr.odd {
  background: none;
}

table thead {
  text-transform: none;
  background: none;
}

.cart-subtotal, .cart-total {
  background: none;

}

  .cart-subtotal td h5, .cart-total td h5 {
  color: $dark-gray;
  }

.product-section-title {
  text-transform: none;
}

ul#products {
  @include outer-container(100%);

  li {
    @include span-columns(4);
  }
}
