/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require spree/frontend
 *= require_self
 *= require_tree .
*/

h1 { margin: 10px 0 40px 0; }

br.c { clear: both; }

.middle {
  vertical-align: middle;

  span {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }
}

.text-align-right { text-align: right; }
.middle { vertical-align: middle; }

.button {
  border: 1px solid #ccc;
  font-family: Oswald;
  padding: 6px 30px;
  font-size: 15px !important;
  letter-spacing: 1px !important;
  background-color: #fff;
  color: #272727;
  font-weight: 300;

  &.primary {
    border: none;
    color: #fff;
    background-color: #FE4101 !important;
  }
}

.no-border {
  div, table { border: none !important; }
}

a.button {
  color: #fff !important;
}

#main-image {
  width: 100%;
  max-width: 450px;
  height: auto;
}