/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require spree/frontend
 *= require_self
 *= require_tree .
*/

// html elements
body {
  font-size: 100%;
  font-family: Roboto;
}

h1 {
  font-family: Oswald;
  font-size: 20px;
  display: inline-block;
  padding: 0 100px 10px 0;
  border-bottom: 2px solid #777;
  margin: 10px 0 40px 0;
  letter-spacing: 1px;
}

h2 {
  font-family: Oswald;

  &.big {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 60px;
  }
}

// html elements with classes
a { color:#0092A6 !important; }
a.info {
  font-size: 17px !important;
  font-weight: normal;
  font-family: Oswald;
  line-height: 24px;
  color: #444 !important;
  display: block;
  margin-bottom: 6px;
  overflow: visible;
}

ul.taxons-list a     { font-size: 14px !important; line-height: 22px !important; margin-left: -10px; }
ul.filter_choices li { line-height: 30px; list-style-type: none; }

br.c { clear: both; }

button.large, a.button, button.button, input.button {
  border: 1px solid #ccc;
  font-family: Oswald;
  padding: 5px 40px;
  font-size: 15px !important;
  letter-spacing: 1px !important;
  background-color: #fff;
  color: #222 !important;
  font-weight: 300;
  text-transform: uppercase;
  vertical-align: middle;

  &:hover {
    background-color: #B3B3B3;
    border: 1px solid #B3B3B3;
    color: #fff !important;
  }

  &.primary {
    border: 1px solid #CB6C4B;
    font-size: 14px !important;
    color: #fff !important;
    background-color: #FE4101 !important;
  }

  &.disabled {
    @extend .primary;
    opacity: 0.6;
  }
}

// raw classes
.price         { color: #333 !important; }
.product-image { border: none !important; }
.flash.error   { margin-bottom: 30px; }
.center        { text-align: center; }
.right         { text-align: right; }
.dimmed        { opacity: 0.5; }


.pagination {
  span {
    display: inline-block;
    border: 1px solid #fff;
    cursor: pointer;

    &.current, a {
      padding: 4px 10px;
      display: inline-block;
      color: rgba(0, 0, 0, 0.42) !important;
      font-family: Oswald;
    }

    &.current { color: #000 !important; }

    &.current, &:hover { border: 1px solid #ddd; }

    &.gap {
      border-color: #fff;
      cursor: auto;
    }

    &.prev { display: none; }
  }
}

.no-border {
  div, table { border: none !important; }
}

.middle {
  vertical-align: middle;

  span {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }
}

.text-align-right { text-align: right; }

.middle { vertical-align: middle; }

// elements by ID
#taxon { font-size: 14px; height: 29px; }

#main-image { border: none !important; }

#logo { margin-top: 20px; }

#flow-bar {
  background-color: #004;
  font-size: 11px;
  color: #fff;
  border-bottom: 1px solid #aaa;

  div { text-align: right; padding-right: 30px; }
  a { color: #fff !important; text-decoration: underline; }
}

#products {
  margin-left: -20px;

  li {
    float: left;
    padding-left: 20px;
    width: 195px;
    padding-bottom: 40px;

    a.info {
      border: none !important;
      font-size: 16px;
    }

    span.price {
      font-weight: 400;
    }
  }
}

// badly defined price ranges https://i.imgur.com/QCfkFWz.png
#sidebar_products_search { display: none; }

#search-bar { display: none; }

#product-variants ul { list-style-type: none; }

#product-price h6, #taxon-crumbs h6 { margin-bottom: 5px; }

#product-description-details {
  line-height: 20px;

  p, li {
    display: block;
    margin: 0;
    padding: 0 0 15px 0;
  }
}

#product-description {
  .variant-description { margin-left: 7px; }

  p {
    margin: 0;
    padding: 0 0 15px 0;
  }
}

#checkout_form_address {
  input[type=text], input[type=tel] {
    font-size: 16px;
    margin-top: 5px;
    padding: 7px 10px;
  }

  select {
    margin-top: 5px;
  }
}

// black promo bar on top of the page
#top-promo {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px;

  a {
    color: #fff !important;

    &:hover {
      text-decoration: underline;
    }
  }
}

#jumbo-top {
  margin-top: -20px;
  max-height: 400px;
  overflow: hidden;
  // background-size: cover;
  // background-position: 50% 30%;

  img {
    width: 100%;
    border: 1px solid #bbb;
    border-left: none;
    border-right: none;
  }
}

#jumbo-top-text {
  text-align: right;
  position: relative;
  margin-top: -100px;
  margin-bottom: 60px;

  img {
    border-bottom: 1px solid #aaa;
  }

  h2, h3 {
    color: #eee;
    font-weight: 400;
    margin-right: 15px;
    -text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  h2 {
    font-family: "Playfair Display";
    font-size: 36px;
  }

  h3 {
    font-family:Roboto;
    font-weight: 200;
    letter-spacing: 0.5px;
    font-size: 16px;
    margin-top: 3px;
  }
}

#main-image {
  width: 100%;
  max-width: 450px;
  height: auto;
}

#variant_select {
  font-family: Oswald;
  font-size: 200;
  font-size: 15px;
  color: #444;
  letter-spacing: 0.5px;
  border: 0;
  outline: 1px solid #bbb;
  outline-offset:-1px;
  height: 34px !important;
}
