@import 'media-queries';

$cart-border-color: #bbb;
$checkout-button-with: 270px;
$border-radius: 5px;

#cart-detail {
  border: 1px solid $cart-border-color;
  border-radius: $border-radius;

  .cart-subtotal { display: none; }

  thead {
    background-color: transparent;
    height: 1px;

    // nudge quantity and total title
    .cart-item-quantity-header, .cart-item-total-header {
      span {
        display: inline-block;
        position: relative;
        top: -14px;
        background-color: #fff;
        padding: 0 10px;
      }
    }
  }

  tbody {
    tr {
      &.cart-total     { background-color: #fff; }
      &.line-item      { font-size: 15px;  }

      &:first-child td { border-top: none; }
      td               { border-top: 1px solid $cart-border-color; }
      // & td:first-child { border-left: 1px solid $cart-border-color; }
      // & td:last-child  { border-right: 1px solid $cart-border-color; }

      td {
        padding: 0;

        h4 {
          margin-bottom: 10px;
          a { color:#111 !important; }
        }

        &.cart-item-image {
          img {
            margin-bottom: -4px;
            position: relative;
            z-index: -1;
          }
        }

        &.cart-item-description { padding: 0 10px; }

        &.cart-item-price, &.cart-item-total {
          color: #444 !important;
          font-size: 17px !important;
          font-weight: normal !important;
        }

        &.cart-item-quantity {
          min-width: 110px;
          input { font-size: 18px; width: 50px !important; }
        }

        &.cart-item-total {
          padding-right: 10px;
        }
      }
    }
  }
}

#total-cart-breakdown {
  table {
    width: 100%;

    td {
      border:none !important;
    }
    tr {
      border-bottom: none;

      &:last-child td {
        border-top: 1px solid #ccc !important;
        padding-top: 10px;
      }
    }
  }
}

#checkout-link {
  width: $checkout-button-with - 8px;
}

@include media-desktop {
  #total-cart-breakdown {
    width: $checkout-button-with;
  }
}

@include media-tablet {
  #total-cart-breakdown {
    border: 1px solid $cart-border-color;
    border-radius: $border-radius;
    padding: 10px 0;
    width: 100%;

    &, table { width: 100%; }
    td { padding: 10px 20px; }
    td:first-child { text-align: left; }
  }
}
