.card_options p {
  padding: 0;
  margin-bottom: 15px;
}

p input { margin-right: 10px; }

label { cursor: pointer; }

ul.list {
  margin: 15px 0 10px 20px; list-style: outside;

  li { padding-bottom: 15px; }
}

fieldset.order-summary {
  min-width: 210px;
}

ul.shipping-methods {
  margin: 10px !important;

  li.shipping-method {
    input {
      margin-right: 6px;
      position: relative;
      top: -1px;
    }

    span { font-weight: normal; }
  }
}

#shipping_method p {
  input {
    position: relative;
    top: -1px;
  }

  label {
    font-weight: 400 !important;
    font-size: 16px;
  }
}

tr.total {
  border-bottom: none;
}