$flex-fixed-sizes: (200, 250, 260, 270, 280, 290, 300);
$grid-spacing: 20px;

body { padding: 0 10px; }

div.flex {
  display: flex;
  flex-direction: row;
  align-content: stretch;

  .flex-col {
    flex: 1;
    padding-left: $grid-spacing;

    &:first-child { padding-left: 0; }

    select {
      width: 100%;
      max-width: 250px;
    }
  }

 .flex-col-2 {
    @extend .flex-col;
    flex: 2;
  }

 .flex-col-3 {
    @extend .flex-col;
    flex: 3;
  }

  @each $size in $flex-fixed-sizes {
    .col-#{$size} {
      flex: 1;
      flex-basis: #{$size}px;
      max-width: #{$size}px;
      margin-right: $grid-spacing;
      &:last-child { margin-right:0; }
    }
  }
}

.fix-height {
  fieldset {
    min-height: 190px;
    line-height: 24px;
  }

  .delivery {
    padding-left: $grid-spacing;
  }

  .payment-info {
    padding-left: 40px;

    img {
      position: absolute;
      margin-left: -40px;
    }
  }

  i.fa-truck {
    position: absolute;
    margin-left: -25px;
    margin-top: 4px;
  }

  img.paypal {
    width: 32px;
    height: 32px;
    margin-top: -3px;
  }
}

@media only screen and (max-width: 767px) {
  div.flex { display: block; }
  .flex-col {
    width: 100% !important;
  }

  .fix-height {
    fieldset {
      min-height: auto;
    }
  }

  @each $size in $flex-fixed-sizes {
    .col-#{$size} {
      max-width: 100% !important;
      padding: 0 !important;
    }
  }
}
