div.flex {
  display: flex;
  flex-direction: row;
  align-content: stretch;

  .flex-col {
    flex: 1;
    padding-left: 10px;

    &:first-child { padding-left: 0; }
  }
}

.fix-height {
  fieldset {
    min-height: 190px;
    line-height: 24px;
  }

  .delivery {
    padding-left: 20px;
  }

  .payment-info {
    padding-left: 40px;

    img {
      position: absolute;
      margin-left: -40px;
    }
  }

  i.fa-truck {
    position: absolute;
    margin-left: -25px;
    margin-top: 4px;
  }

  img.paypal {
    width: 32px;
    height: 32px;
    margin-top: -3px;
  }
}

@media only screen and (max-width: 767px) {
  div.flex { display: block; }
  .flex-col {
    width: 100% !important;
    padding-bottom: 10px !important;
    padding-left: 0 !important;
  }

  .fix-height {
    fieldset {
      min-height: auto;
    }
  }
}
