//mixins
@mixin media-desktop {
  @media only screen and (min-width: 1201px) { @content; }
}

@mixin media-tablet {
  @media only screen and (max-width: 1200px) { @content; }
}

@mixin media-mobile {
  @media only screen and (max-width: 767px) { @content; }
}

// implementation
@include media-desktop {
  .hide-in-desktop   { display: none; }
  .center-in-desktop { text-align: center; }

  #products .columns.three { width: 210px !important; }
}

@include media-tablet {
  .hide-in-tablet { display: none; }
  .center-in-tablet { text-align: center; }

  #products .columns.three { width: 170px !important; }
}

@include media-mobile {
  .hide-in-mobile, .hide-in-tablet { display: none; }
  .center-in-mobile { text-align: center; }

  #products .columns.three { width: 100% !important; }
}

#content { text-align: left !important; }

