@import 'media-queries';

#top-nav {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  #sidebar-button {
    width: 20px;
    height: 20px;
  }

  .container {
    .flex {
      // padding: 5px 10px 0 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      > div { flex: 1; }

      .button  {
        width: 48px;

        img {
          cursor: pointer;
          width: 48px;
          height: 48px;
        }
      }

      .logo {
      }

      .menu {
        text-align: center;
        min-width: 500px;

        ul ul { display: none; } // hide second lvl nav

        // 1st lvl nav
        > ul {
          margin-top: 4px;

          > li {
            font-size: 14pt;
            display: inline-block;
            margin: 0 21px 0 0;
            padding-top: 10px;
            padding-bottom: 16px;
            margin-bottom: -16px;
            border-bottom: 2px solid #fff;
            position: relative;
            z-index: 1;

            a {
              display: inline-block;
              padding: 10px 8px;
              color: #000 !important;
              font-size: 15px;
              letter-spacing: 1px;
            }

            > a { font-family: Oswald; }

            &.active { border-bottom: 2px solid #555; }

            // 2nd lvl nav
            &:hover {
              border-bottom: 2px solid #555;

              ul {
                width: 200px;
                display: block;
                z-index: 0;
                position: absolute;
                margin: 18px 0 0 0;
                padding: 20px;
                border: 1px solid #dedede;
                background-color: #fff;

                li {
                  display: block;

                  a {
                    font-family: Roboto;
                    font-weight: 300;
                    letter-spacing: 0.5px;
                    font-size: 14px;
                    display: block;
                    text-align: left;
                    padding-bottom: 10px;
                    color: #555 !important;

                    &:hover { color: #000 !important; }
                  }
                }
              }
            }
          }
        }
      }

      .options {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 130px;
        text-align: right;

        img, svg {
          margin: 0 8px; cursor: pointer;
          padding: 12px 0 7px 0;
          border-bottom: 2px solid transparent;
          &.active { border-bottom: 2px solid #555; }
        }

        #search-form {
          width: 250px;
          text-align: right;
          position: absolute;
          margin-top: 41px;

          &.hidden { display: none; }

          input {
            transition: width 0.2s ease;
            padding: 0 10px;
            font-size: 12pt;
            height: 40px;
            width: 50px;

            &:focus { width: 250px; display: inline-block; border-color: #ccc; }
          }
        }
      }
    }
  }
}

@include media-tablet {
  #top-nav {
    border-bottom: 0.5pt solid #ddd;
  }
}