#top-nav {
  border: 1px solid red;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    height: 50px;

    > div { flex: 1; }

    .button  {
      display: none;
      max-width: 48px;

      img {
        width: 48px;
        height: 48px;
      }
    }

    .logo {
    }

    .menu {
      text-align: center;

      ul ul { display: none; } // hide second lvl nav

      // 1st lvl nav
      > ul {
        margin-top: 14px;
        li {
          display: inline-block;
          margin-right: 20px;

          a { color: #000 !important; }

          // 2nd lvl nav
          &:hover ul {
            display: block;
            position: absolute;
            margin-top: 0;
            padding-top: 14px;
            background-color: #fff;
            z-index: 2;

            li {
              display: block;
              a {
                display: block;
                text-align: left;
                padding-bottom: 10px;
                color: #777 !important;

                &:hover { color: #000 !important; }
              }
            }
          }
        }
      }
    }

    .options {
      text-align: right;
    }
  }
}

@media only screen and (max-width: 1200px) {
  #top-nav {
    .logo { max-width: 167px; }
    .options { max-width: 40px; }
  }
}

@media only screen and (max-width: 767px) {
  #top-nav {
    .button { display: block !important; }
    .menu { display: none; }
    .logo { text-align: center; max-width: none; }
  }
}