// experience picker top right
.w.experience_picker {
  width: 32px;
  float: right;
  margin-top: -6px;
  margin-left: 10px;

  img.picker { width:32px; height: 32px; cursor: pointer; }
}

#choose_experience {
  position: absolute;
  z-index: 1;
  margin: 5px 0 0 126px;
  width: 250px;
  border: 1px solid #ddd;
  background-color:#fff;
  display: none;
  text-align: left;
}

#choose_experience, #sidebar-data-exp {
  h5 {
    padding: 10px;
    font-weight: 400;
    font-size: 12pt;
    padding-bottom: 10px;
  }

  a.country  {
    display: block;
    font-size: 12pt;
    color: #777 !important;
    padding: 4px 7px;

    img {
      width: 32px;
      height: 32px;
      vertical-align: middle;
      position: relative;
      top: -1px;
      margin-right: 5px;
    }

    &:hover {
      background-color: #f2f2f2;
      color: #000 !important;
    }
  }
}
