<div id="popup">
  <h2>Duties & Taxes</h2>

  <p>Please choose whether you would like to include the duties & taxes in the order payment.</p>

  <label class="checkbox-block" onclick="Popup.select_dd('paid');">
    <input type="radio" name="flow_delivered_duty" value="paid" <%= @flow_order.delivered_duty == 'paid' ? 'checked="true"'.html_safe : '' %> />
    <p class="title">Paid</p>
    <p>You will pay duties & taxes with your order.</p>
  </label>

  <label class="checkbox-block" onclick="Popup.select_dd('unpaid');">
    <input type="radio" name="flow_delivered_duty" value="unpaid" <%= @flow_order.delivered_duty == 'unpaid' ? 'checked="true"'.html_safe : '' %> />
    <p class="title">Unpaid</p>
    <p>
      You will not pay duties and taxes with your order now but will have to pay them,
      if applicable, with your ship-to country’s customs agency when you pick up your order.
    </p>
  </label>

  <hr />

  <button class="button default" onclick="Popup.close(); return false;">Cancel</button>
</div>

<fieldset class="form" style="margin-bottom: 28px;">
  <legend>EDIT DUTIES AND TAX PREFERENCES</legend>

  <p id="select-paid" style="display: none;"><b>Duties & Taxes Paid:</b> You will pay duties & taxes with your order, if applicable.</p>
  <p id="select-unpaid" style="display: none;"><b>Duties & Taxes Unpaid:</b> You will not pay duties & taxes with your order. Your items might be subject to duties and/or taxes by your local customs authority.</p>

  <button class="button default" onclick="Popup.open(); return false;">Edit Duties & Taxes Preference</button>
</fieldset>

<script>
  $('#select-<%= @flow_order.delivered_duty %>').show();
</script>