<footer id="footer" class="sixteen columns" data-hook>
  <p>
    <img class="w experience_picker hide-in-tablet" src="<%= flow_flag(@flow_exp, 32) %>" />
    <%= Spree.t :powered_by  %> <a href="https://www.flow.io" target="_new">Flow.io</a> &amp; <%= link_to 'Solidus', 'http://solidus.io/' %>
  </p>
</footer>
