<header id="header" class="row" data-hook>
  <img id="nav-toggle" src="/images/nav-toggle.png" onclick="$('#sidebar').toggle();" />
  <a id="header-logo" href="/"><img src="/images/logo.svg" /></a>
  <%= render :partial => 'spree/shared/nav_bar' %>
  <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header>
