<header id="header" class="row" data-hook style="border-bottom: 1px solid #ddd;">
  <div class="container" style="padding: 0;">
    <img class="w nav_toggle" src="/images/nav-toggle.png" />
    <a id="header-logo" href="/"><img src="/images/logo.svg" /></a>
    <%= render :partial => 'spree/shared/nav_bar' %>
  </div>
</header>

<div class="container">
  <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</div>
