<style>
.taxons-list li.current > a { font-weight: bold; }
.taxons-list li.current ul { padding-left: 20px; }
</style>

<nav id="taxonomies" class="sidebar-item" data-hook>
  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, 2] do %>
      <h6 class='taxonomy-root'><%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %></h6>
      <%= flow_taxons_tree(taxonomy.root, @taxon) %>
    <% end %>
  <% end %>
</nav>
